@font-face {
    font-family: lineal;
    src: url('fonts/Chemins_Regular.ttf');
}


/* mettre la scrollbar à l'ext */
/* poursuivre le js */


body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    display: grid;
    height: 100vh;
    box-sizing: border-box;

        line-height: 1.7;
        color: #000000;
        background: repeating-linear-gradient(90deg, transparent, transparent 4px, rgb(206, 206, 206) 1px, rgb(206, 206, 206)5px), repeating-linear-gradient(0deg, transparent, transparent 4px, rgb(206, 206, 206) 1px, rgb(206, 206, 206)5px);

}

nav {

    background-color: #e8e8e8;
    border-bottom: solid 1px #000000;
    font-size: 16px;
    font-family: "lineal";
    grid-column: 1/20;
    padding: 5px 15px;
    height: 35px;
}

nav a {
    text-decoration: none;
    font-weight: 900;
    color: #ff4747;
    font-size: 20px;
    padding-right: 30px;
    border-right: solid 1px black;
}

main {
    display: grid;
    grid-row: 2/20;
    grid-column: 5/15;
    border-right: solid 1px black;
    border-left: solid 1px black;
    border-top: solid 1px black;
    margin-top: 20px;
}

#page {
    /* grid-column: 4/8;
    grid-row: 2; */
    background-color: white;
    overflow-y: scroll;

}
#container {
    /* grid-column: 4/12;
    grid-row: 2; */
    /* border: solid 1px rgb(0, 0, 0); */
    display: grid;
  
    }


        aside#left {
            grid-column: 3/5;
            grid-row: 2/17;
            background-color: #fff56f;
            border: solid 1px;
            margin-top: 20px;
          }
       


#index {
    /* height: 100%; */
    /* background-color: aqua; */
    /* grid-column: 1/4;
    grid-row: 1/2; */
    /* background-color: rgb(171, 192, 133); */
    /* margin: 0;
    padding: 0; */
    grid-column: 16/17;
    grid-row: 1;
}


#motsCles {
    overflow-y: scroll;
    text-align: left;
    height: 100%;
    color: rgb(0, 0, 0);

}

#motsCles h3 {
    cursor: pointer;
    user-select: none;
    margin-left: 10%;
    font-family: lineal;
    font-size: 1em;
    padding-left: 2%;
    border-left: solid 2px rgb(0, 0, 0);

}


#motsCles h3:hover {
    border-bottom: solid 2px rgb(0, 0, 0);
    border-left: solid 2px rgb(0, 0, 0);;
    color: rgb(0, 0, 0);;
}


#motsCles h3.decale {
    margin-left: 80px;
}


#biblio {
    text-align: left;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(255, 255, 255);
}

.texte {
    display: grid;
    grid-column: 1/8;
}

#search {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: solid 1px black;

    /* border: solid 1px blue;  */
}

.info {
    color: rgb(0, 0, 0);
    font-family: 'lineal';
    /* background-color: brown; */
    margin: 0;
}

h1 {

padding: 2% 0 0 2%;
font-family: 'lineal';
font-size: 1.5em;
color: rgb(0, 0, 0);
margin: 0;
grid-column: 15/17;
}


ul { 
    display: block;
    grid-template-columns: repeat(8, 1fr);
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}        


ul li {
    display: inline-flex;
    font-family: 'lineal';
}

ul :nth-last-child(1) {
    /* background-color: aqua; */
    padding: 5px;
    grid-column: 8/9;
    border-right: solid 1px #000000;
    border-top: solid 1px #000000;
    border-bottom: solid 1px rgb(0, 0, 0);
    background-color: white;
}

ul :nth-last-child(2) {
    background-color: white;
    border-top: solid 1px #000000;
    border-right: solid 1px #000000;
    box-sizing: content-box;
    padding: 5px;
    grid-column: 5/8;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px #000000;
}

ul :nth-last-child(3) {
    background-color: white;
    border-top: solid 1px #000000;
    border-right: solid 1px #000000;
    border-bottom: solid 1px rgb(0, 0, 0);
    padding: 5px;
    grid-column: 1/5;
}

.cit {
    color: rgb(0, 0, 0);
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: repeat(1, 2fr);
    padding: 1% 2% 1% 4%;
    font-family: 'lineal';
    font-size: 18px;
    border-bottom: dotted 1px black ;
}


/* .cit:nth-of-type(2n) {
    background-color: rgb(211, 211, 211);
} */

.cit:nth-of-type(2n+1) {
    background-color: rgb(255, 255, 255);
}

.cit:nth-of-type(2n+1):hover,
.cit:nth-of-type(2n):hover {
    background-color: #fff56f;
}

.button {
    appearance: none;
    cursor: pointer;
    grid-column: 5/6;
    height: 100%;
    background-color: white;
    color: black;
    font-family: 'lineal';
    font-size: 1.5em;
    border: none;
  }

.button:hover {
    text-decoration: underline #ff4747;
    color: #ff4747;
}

.light {
    grid-column: 1/5;
    font-family: 'lineal';
    font-size: 2em;
    outline: none;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 20px;
    text-transform: uppercase;
    color: #ff4747;
  }